body {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#drop-files {
  margin-top: 50px;
  padding: 20px;
  height: 140px;
  font-weight: bold;
}

th, td {
 width: 33.33%;
}
