<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  <meta http-equiv="Cache-control" content="no-cache">

  <title>Similarity with the celebrity</title>
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="{% static 'js/common.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="//fonts.googleapis.com/css?family=Raleway"
        rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Questrial"
        rel="stylesheet">
  <link rel="stylesheet" href="//www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<div class="w3-content" style="margin-left:15%; margin-right:15%">
  <div class="w3-bar w3-border w3-black w3-xlarge">
    <span class="w3-bar-item w3-opacity"><b>Similarity with the celebrity</b></span>
    <a id="how-it-work" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-white w3-right">How are we doing it?</a>
  </div>

  <div class="w3-panel">
    <div class="w3-row w3-border w3-center">
      <div id="drop-files" class="w3-half w3-container w3-center">
        <p>Drop image here</p>
        <form id="frm">
          <input id="uploadbtn" class="w3-input w3-border w3-round" type="file" multiple/>
          <output id="list"></output>
        </form>
      </div>
      <div class="w3-half w3-container w3-center w3-border-left">
        <video id="video" width="60%" autoplay></video><br>
        <button id="snap" class="w3-btn w3-white w3-border" style="margin-bottom: 5px">Snap Photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>
      </div>
    </div>
  </div>

  <div id="loadImage" class="w3-panel">
    <div class="w3-row">
      <div class="w3-half w3-container w3-center">
        <div class="w3-coll w3-center" style="margin-left:5%; margin-right:10%">
          <h3 class="w3-center">Your photo</h3>
          <div class="w3-coll w3-center" style="margin-left:10%; margin-right:5%">
            <img id="outImage" class="w3-padding" style="width:80%" border="0" src="">
          </div>
        </div>
      </div>

      <div class="w3-half w3-container w3-center">
        <div id="message-wait" class="w3-panel w3-padding-16 w3-round w3-xxlarge" style="margin-top: 70px"></div>

        <div id="message" class="w3-panel w3-padding-16 w3-round w3-red w3-large" style="margin-top: 70px"></div>

        <div id="result" class="w3-coll w3-center" style="margin-left:5%; margin-right:10%">

          <h3 id="name1" class="mySlidesName w3-center"></h3>
          <h3 id="name2" class="mySlidesName w3-center"></h3>
          <h3 id="name3" class="mySlidesName w3-center"></h3>

          <div class="w3-content w3-panel w3-display-container">
            <img id="photo1" class="mySlidesPhoto w3-display-topmiddle" src="" style="height:250px">
            <img id="photo2" class="mySlidesPhoto w3-display-topmiddle" src="" style="height:250px">
            <img id="photo3" class="mySlidesPhoto w3-display-topmiddle" src="" style="height:250px">

            <div class="w3-center" style="margin-top: 270px">
              <div class="w3-section">
                <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
                <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
              </div>
              <button class="w3-button demo" onclick="currentDiv(1)">1</button>
              <button class="w3-button demo" onclick="currentDiv(2)">2</button>
              <button class="w3-button demo" onclick="currentDiv(3)">3</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="wrap-how-it-work" class="wrap-up"></div>
<div id="window-how-it-work" class="window">
  <div class="w3-row">
    <div class="w3-col  w3-container w3-right" style="width:50px"><img id="close" class="close" src="../static/img/close.png"></div>
    <div class="w3-rest w3-container"><h2>How are we doing it?</h2></div>
  </div>
  <ol class="w3-ol">
    <li>Detecting the face</li>
    <li>Alignment facial landmarks</li>
    <li>Face transformer</li>
    <li>Image cropping</li>
    <li>Feeding to Neural Net</li>
    <li>Comparing result of DNN with other records</li>
    <li>Show result</li>
  </ol>
</div>




<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var names = document.getElementsByClassName("mySlidesName");
  var photos = document.getElementsByClassName("mySlidesPhoto");
  var dots = document.getElementsByClassName("demo");
  if (n > photos.length) {slideIndex = 1}
  if (n < 1) {slideIndex = photos.length}
  for (i = 0; i < photos.length; i++) {
     photos[i].style.display = "none";
     names[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-black", "");
  }
  photos[slideIndex-1].style.display = "block";
  names[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-black";
}
</script>
</body>
</html>